<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trybe messages</title>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <div>
    <ul id="online-users">
      <li id="online-user" data-testid="online-user"></li>
    </ul>
    <form id="nickname-form">
      <input type="text" id="nickname-box" data-testid="nickname-box" placeholder="nickname" />
      <button type="submit" data-testid="nickname-button">Send</button>
    </form>
  </div>
  <div>
    <form id="message-form">
      <input type="text" id="message-box" data-testid="message-box" placeholder="new message" />
      <button type="submit" data-testid="send-button">Send</button>
    </form>

    <ul id="messages">
      <% messages.forEach((message) => { %>
        <li data-testid="message"><%= message %></li>
      <% }) %>
    </ul>
  </div>
</body>

<script src="http://localhost:3000/public/chat.js"></script>
</html>
